.Landing-body {
  display: flex;
  justify-content: center;

  background-color: #222;
  width: 100vw;
  height: 100vh;
}

.Landing-border {
  background-color: #f2f2f2;
  margin-top: 5vh;
  padding: 5vh;
  width: 90vh;
  height: 90vh;
  border-radius: 2%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  position: relative;
}

.Landing-header {
  display: flex;
  justify-content: center;
}

.Landing-assignment-selection {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.Landing-assignment-button {
  height: 5rem;
  width: 5rem;
  margin: 0.4rem;

  border: none;
  outline: none;
  color: white;
  border-radius: 5%;
  overflow: hidden;
  cursor: pointer;

  font-weight: bold;
  text-transform: uppercase;
  background: #222;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.Landing-assignment-button:hover,
.Landing-assignment-button:active,
.Landing-assignment-button:focus {
  outline: none;
  background: #666;
}

.TimerContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.ReturnContainer {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.StartButton {
  height: 50vh;
  width: 50vh;
  font-size: 5rem;

  border: none;
  outline: none;
  color: white;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  font-weight: bold;
  text-transform: uppercase;
  background: #222;

  text-align: center;
  margin: auto;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.Started {
  font-size: 10rem;
  cursor: default;
}

.Started:hover,
.Started:active,
.Started:focus {
  outline: none;
}

.StartButton:hover,
.StartButton:active,
.StartButton:focus {
  outline: none;
}

.StartButton:hover:not(.Started) {
  background: #444;
}

.Word-item {
  margin-left: -100%;
  animation: Word-scroll infinite 5s linear;
  margin: 1rem;
  color: black;
  background-color: aqua;
  border-radius: 2%;
  border: 0.1rem solid cadetblue;
  width: max-content;
}

@keyframes Word-scroll {
  from { transform: translateX(0vw); }
  to { transform: translateX(100vw); }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
